{% extends 'blog/base.html' %}
{% block content %}
    <div class="date">
        {% if post.published_date %}
            {{ post.published_date|date:'M d, Y' }}
        {% else %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    </div>
    <h3>{{ post.title }}</h3>
    <p>作者： <a class="post-category post-category-js" href="{% url 'search_user' user_id=post.author_id %}">{{ post.author }}</a></p>
    {% if post.category %}
        <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">
        <span class="glyphicon glyphicon-tag"></span>{{ post.category|title }}</a>
    {% endif %}
    <p>{{ post.text|safe|linebreaks }}</p>

{% endblock %}